.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../src/components/assets/img/bebidas1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;

}

.categoriaH2{
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    font-size: 4.0rem;
}
